{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}

        <!-- ================= เนื้อหา ============================ -->

        <div class = "container">
            {% if not orders %}
            <h1 class="text-white ">.</h1>
            <h1 class="text-white ">.</h1>
    
            <div class="jumbotron my-4">
                <h1 class="display-4">ไม่มีประวัติที่สั่งซื้อ!</h1>
                  <a class="w3-bar-item w3-button w3-yellow w3-hover-deep-orange w3-hover-shadow w3-hover-text-white" href="/menu" role="button">ซื้อสินค้าเพิ่มเติม</a>
                </p>
            </div>
            <h2 class="text-white ">.</h2>
            <h2 class="text-white ">.</h2>
            <h2 class="text-white ">.</h2>
            <h2 class="text-white ">.</h2>
            {%else%}
          <section>
                   <!-- Main Container  -->
                   <h1 class="text-white">.</h1>
          <div class="main-container container">
  
              <div class="row WRAPPER_OrderHis">
                  <!--Middle Part Start-->
                  <div id="content" class="col-sm-9">
                      <h2 class="title">Order History</h2>
                      <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <!-- <td class="text-center">Image</td> -->
                                      <!-- <td class="text-left">Product Name</td> -->
                                      <td class="text-center">Order ID</td>
                                      <!-- <td class="text-center">Qty</td> -->
                                      <!-- <td class="text-center">Status</td> -->
                                      <td class="text-center">Date Added</td>
                                      <td class="text-right">Total</td>
                                      <td></td>
                                  </tr>
                              </thead>

                              <tbody>
                                {% for item in orders %}
                                  <tr>
                                      <!-- <td class="text-center">
                                          <a href="product.html"><img width="85" class="img-thumbnail"
                                                  title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop"
                                                  src="{% static 'image/catalog/demo/product/funiture/1.jpg' %}">
                                          </a>
                                      </td> -->
                                      <!-- <td class="text-left"><a href="product.html">Aspire Ultrabook Laptop</a> -->
                                      </td>
                                      <td class="text-center">{{item.id}}</td>
                                      <!-- <td class="text-center">1</td> -->
                                      <!-- <td class="text-center">Shipped</td> -->
                                      <td class="text-center">{{item.created | date:"d M Y"}}</td>
                                      <td class="text-right">{{item.total | intcomma}}</td>
                                      <td class="text-center"><a class="Yellow_his" title="" data-toggle="tooltip"
                                              href="{% url 'orderDetails' item.id %}" data-original-title="View"><i
                                                  class="fa fa-eye"></i></a>
                                      </td>
                                  </tr>
                                {%endfor%}

                              </tbody>
                          </table>
                      </div>
  
                  </div>
               
              </div>
          </div>
          <!-- //Main Container -->
          </section>
          {%endif%}
          
      </div>
      
{% endblock %}
    